build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
compile_commands.json

*.bin
*.dis
*.elf
*.elf.map
*.hex
*.uf2
*.o
*.a

.DS_Store
*.swp
*.tmp

!.vscode/
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/cmake-kits.json
!.vscode/c_cpp_properties.json
